<h1>List of all Products</h1>
<% if flash[:item_job] %>
  <h3>
    <%= form_tag undo_items_path(item_job: flash[:item_job]), method: :post do %>
      <%= submit_tag 'Undo the shopping' %>
    <% end %>
  </h3>
<% end %>
<h3>

</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price (US$)</th>
    <th>Quantity</th>
  </tr>
  <% Product.all.each do |p| %>
    <tr>
      <td><%= p.name %></td>
      <td><%= p.description %></td>
      <td>US$ <%= format("%.2f", p.price) %></td>
      <td>
        <%= form_tag items_path, method: :post do %>
          <%= number_field_tag :quantity, 0, min: 0 %>
          <%= submit_tag 'Add to cart' %>
          <%= hidden_field_tag :product_id, p.id %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tfoot>
  <tr>
    <td><%= link_to 'Go to my cart', cart_path(Cart.first) %></td>
  </tr>
  </tfoot>
</table>
