<h1>My Cart</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price (US$)</th>
    <th>Quantity</th>
    <th>Actions</th>
  </tr>

  <% @cart.items.map do |i| %>
    <tr>
      <td><%= i.product.name %></td>
      <td><%= i.product.description %></td>
      <td>US$ <%= format("%.2f", i.product.price) %></td>
      <td><%= i.quantity %></td>
      <td>
        <%= form_tag item_path(i), method: :delete do %>
          <%= submit_tag 'Remove' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<br><br>
<table>
  <tr>
    <td>Total</td>
    <td>US$ <%= @cart.total_price %></td>
  </tr>
</table>

<%= link_to 'Buy more products', root_url %>